<div class="header">
  <header class="header-container">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/logo_A3Soft.png" alt="A3 Soft Solution Logo" />
    </div>

    <!-- Navigation links -->
    <div class="nav-links">
      <nav class="nav">
        <ul class="nav-list">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
