<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-container">
        <!-- About Section -->
        <div class="footer-column about">
          <img
            src="assets/logo_A3Soft.png"
            alt="A3 Soft Solution Logo"
            class="footer-logo"
          />

          <p>
            Mr. Appaso Kachare the visionary behind A3Soft Java Solutions,
            brings a wealth of experience in Information Technology. With a
            commitment to excellence and innovation, he has established A3Soft
            Java Solutions as a leader in software training,dedicated to
            equipping the next generation of tech professionals with the skills
            needed to succeed.
          </p>
        </div>

        <!-- Quick Links -->
        <div class="footer-column">
          <h3>QUICK LINKS</h3>
          <ul>
            <li>News & Events</li>
            <li>Interview Questions</li>
            <li>Online Batches</li>
            <li>Contact Us</li>
            <li>About Us</li>
            <li>Hire From Us</li>
          </ul>
        </div>

        <!-- Policies -->
        <div class="footer-column">
          <h3>OUR POLICIES</h3>
          <ul>
            <li>Pricing Policy</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Refund Policy</li>
          </ul>
        </div>

        <!-- Courses -->
        <div class="footer-column">
          <h3>TRENDING COURSES</h3>
          <ul>
            <li>Fullstack Development</li>
            <li>DSA</li>
            <li>DevOps with AWS</li>
            <li>Cloud Computing</li>
            <li>Spring Boot & Microservices</li>
            <li>Gen AI</li>
          </ul>
        </div>

        <!-- Contact -->
        <div class="footer-column">
          <h3>CONTACT US</h3>
          <p>📞 +91 xxxxxxxxxx</p>
          <p>✉ info@a3soft.com</p>
          <a href="#" class="whatsapp-link">
            Click Here To Join Our Whatsapp Group For Latest Updates
          </a>
        </div>
      </div>
      <!-- FOLLOW SECTION -->
      <div class="footer-bottom">
        <div class="follow-content">
          <span class="follow-text">FOLLOW US :</span>

          <div class="social-icons">
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
        <!-- COPYRIGHT SECTION -->
        <div class="copyright-section">
          © {{ currentYear }} Copyright, A3Soft Java Solutions
        </div>
      </div>
    </footer>
  </body>
</html>
