
<div class="contact-container">

  <!-- Banner -->
  <div class="banner">
    <div class="banner-text">
      <h1>Contact Us</h1>
    </div>
    <div class="banner-img">
      <img src="assets/images//Contact-Us.avif" alt="contact">
    </div>
  </div>

  <!-- Title -->
  <h2 class="title">Get In Touch</h2>

  <!-- Cards -->
  <div class="card-wrapper">

    <!-- Email Card -->
    <div class="card email-card">
      <i class="A3Soft_Java_Class"></i>
      <p>Email: a3soft@rediffmail.com</p>
    </div>

    <!-- Location Card -->
    <div class="card">
      <i class="A3Soft_Java_Class"></i>
      <p>
        Location: Off No- A-407,<br>
        Mega Center,<br>
        Magarpatta Chowk,Pune 411013
      </p>
    </div>

    <!-- Phone Card -->
    <div class="card">
      <i class="A3Soft_Java_Class"></i>
      <p>Phone: +91 9561538754 </p>
      <p>Phone: +91 7083902278 </p>
    </div>
  </div>
</div>

  