<div class="contact-container">

  <!-- Banner -->
  <div class="banner">
    <div class="banner-text">
      <h1>Contact Us</h1>
    </div>
    <div class="banner-img">
      <img src="assets/images//Contact-Us.avif" alt="contact">
    </div>
  </div>

  <!-- Title -->
  <h2 class="title">Get In Touch</h2>

  <!-- Cards -->
  <div class="card-wrapper">

    <!-- Email Card -->
    <div class="card email-card">
      <i class="A3Soft_Java_Class"></i>
      <p>Email: a3soft@rediffmail.com</p>
    </div>

    <!-- Location Card -->
    <div class="card">
      <i class="A3Soft_Java_Class"></i>
      <p>
        Location: Off No- A-407,<br>
        Mega Center,<br>
        Magarpatta Chowk,Pune 411013
      </p>
    </div>

    <!-- Phone Card -->
    <div class="card">
      <i class="A3Soft_Java_Class"></i>
      <p>Phone: +91 9561538754 </p>
      <p>Phone: +91 7083902278 </p>
    </div>
  </div>
</div>
<div class="bookform-container">
  <div class="header">
    <h2>Book a 1:1 Free Career Guidance Call</h2>
  </div>


  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    
    <div class="form-group">
      <label>Name *</label>
      <input type="text" name="name" [(ngModel)]="formData.name" required placeholder="Enter Name">
    </div>

    <div class="form-group">
      <label>Email Address *</label>
      <input type="email" name="email" [(ngModel)]="formData.email" required placeholder="Enter Email Address">
    </div>

    <div class="form-group">
      <label>Country Code *</label>
      <select name="countryCode" [(ngModel)]="formData.countryCode" required>
        <option value="+91">India (+91)</option>
        <option value="+1">USA (+1)</option>
        <option value="+44">UK (+44)</option>
      </select>
    </div>

    <div class="form-group">
      <label>Phone Number *</label>
      <input type="tel" name="phone" [(ngModel)]="formData.phone" required placeholder="Enter Phone Number">
    </div>

    <div class="form-group">
      <label>Message *</label>
      <textarea name="message" [(ngModel)]="formData.message" required placeholder="Type Your Message Here..."></textarea>
    </div>

    <button type="submit" class="submit-btn">Send Message</button>

  </form>

  </div> 
